In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 13.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=44cd9875da37141bd364039521978d51a48568484dfde3048d2611a690f47f4b
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [5]:
filepath_data = "drive/MyDrive/adv_analytics/cov_type_data/covtype.data"
filepath_info = "drive/MyDrive/adv_analytics/cov_type_data/covtype.info"

In [3]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Adv_Analytics').getOrCreate()

In [7]:
data_without_header = spark.read.option("inferSchema", True).option("header", False).csv(filepath_data)
data_without_header.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: integer (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: integer (nullable = true)
 |-- _c6: integer (nullable = true)
 |-- _c7: integer (nullable = true)
 |-- _c8: integer (nullable = true)
 |-- _c9: integer (nullable = true)
 |-- _c10: integer (nullable = true)
 |-- _c11: integer (nullable = true)
 |-- _c12: integer (nullable = true)
 |-- _c13: integer (nullable = true)
 |-- _c14: integer (nullable = true)
 |-- _c15: integer (nullable = true)
 |-- _c16: integer (nullable = true)
 |-- _c17: integer (nullable = true)
 |-- _c18: integer (nullable = true)
 |-- _c19: integer (nullable = true)
 |-- _c20: integer (nullable = true)
 |-- _c21: integer (nullable = true)
 |-- _c22: integer (nullable = true)
 |-- _c23: integer (nullable = true)
 |-- _c24: integer (nullable = true)
 |-- _c25: integer (nullable = true)
 |-- _c26: integer (nullable = true)
 |-- _c27: integer (nullable = true)
 |-- _c28: integer (nullable = true)
 |-- _c29: integer (nullable = true)
 |-- _c30: integer (nullable = true)
 |-- _c31: integer (nullable = true)
 |-- _c32: integer (nullable = true)
 |-- _c33: integer (nullable = true)
 |-- _c34: integer (nullable = true)
 |-- _c35: integer (nullable = true)
 |-- _c36: integer (nullable = true)
 |-- _c37: integer (nullable = true)
 |-- _c38: integer (nullable = true)
 |-- _c39: integer (nullable = true)
 |-- _c40: integer (nullable = true)
 |-- _c41: integer (nullable = true)
 |-- _c42: integer (nullable = true)
 |-- _c43: integer (nullable = true)
 |-- _c44: integer (nullable = true)
 |-- _c45: integer (nullable = true)
 |-- _c46: integer (nullable = true)
 |-- _c47: integer (nullable = true)
 |-- _c48: integer (nullable = true)
 |-- _c49: integer (nullable = true)
 |-- _c50: integer (nullable = true)
 |-- _c51: integer (nullable = true)
 |-- _c52: integer (nullable = true)
 |-- _c53: integer (nullable = true)
 |-- _c54: integer (nullable = true)

In [8]:
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import col

In [9]:
colnames = ["Elevation", "Aspect", "Slope", \
"Horizontal_Distance_To_Hydrology", \
"Vertical_Distance_To_Hydrology", "Horizontal_Distance_To_Roadways", \
"Hillshade_9am", "Hillshade_Noon", "Hillshade_3pm", \
"Horizontal_Distance_To_Fire_Points"] + \
[f"Wilderness_Area_{i}" for i in range(4)] + \
[f"Soil_Type_{i}" for i in range(40)] + \
["Cover_Type"]

In [10]:
data = data_without_header.toDF(*colnames).\
withColumn("Cover_Type",
col("Cover_Type").cast(DoubleType()))

In [11]:
data.head()

Row(Elevation=2596, Aspect=51, Slope=3, Horizontal_Distance_To_Hydrology=258, Vertical_Distance_To_Hydrology=0, Horizontal_Distance_To_Roadways=510, Hillshade_9am=221, Hillshade_Noon=232, Hillshade_3pm=148, Horizontal_Distance_To_Fire_Points=6279, Wilderness_Area_0=1, Wilderness_Area_1=0, Wilderness_Area_2=0, Wilderness_Area_3=0, Soil_Type_0=0, Soil_Type_1=0, Soil_Type_2=0, Soil_Type_3=0, Soil_Type_4=0, Soil_Type_5=0, Soil_Type_6=0, Soil_Type_7=0, Soil_Type_8=0, Soil_Type_9=0, Soil_Type_10=0, Soil_Type_11=0, Soil_Type_12=0, Soil_Type_13=0, Soil_Type_14=0, Soil_Type_15=0, Soil_Type_16=0, Soil_Type_17=0, Soil_Type_18=0, Soil_Type_19=0, Soil_Type_20=0, Soil_Type_21=0, Soil_Type_22=0, Soil_Type_23=0, Soil_Type_24=0, Soil_Type_25=0, Soil_Type_26=0, Soil_Type_27=0, Soil_Type_28=1, Soil_Type_29=0, Soil_Type_30=0, Soil_Type_31=0, Soil_Type_32=0, Soil_Type_33=0, Soil_Type_34=0, Soil_Type_35=0, Soil_Type_36=0, Soil_Type_37=0, Soil_Type_38=0, Soil_Type_39=0, Cover_Type=5.0)

In [12]:
(train_data, test_data) = data.randomSplit([0.9, 0.1])
train_data.cache()
test_data.cache()

DataFrame[Elevation: int, Aspect: int, Slope: int, Horizontal_Distance_To_Hydrology: int, Vertical_Distance_To_Hydrology: int, Horizontal_Distance_To_Roadways: int, Hillshade_9am: int, Hillshade_Noon: int, Hillshade_3pm: int, Horizontal_Distance_To_Fire_Points: int, Wilderness_Area_0: int, Wilderness_Area_1: int, Wilderness_Area_2: int, Wilderness_Area_3: int, Soil_Type_0: int, Soil_Type_1: int, Soil_Type_2: int, Soil_Type_3: int, Soil_Type_4: int, Soil_Type_5: int, Soil_Type_6: int, Soil_Type_7: int, Soil_Type_8: int, Soil_Type_9: int, Soil_Type_10: int, Soil_Type_11: int, Soil_Type_12: int, Soil_Type_13: int, Soil_Type_14: int, Soil_Type_15: int, Soil_Type_16: int, Soil_Type_17: int, Soil_Type_18: int, Soil_Type_19: int, Soil_Type_20: int, Soil_Type_21: int, Soil_Type_22: int, Soil_Type_23: int, Soil_Type_24: int, Soil_Type_25: int, Soil_Type_26: int, Soil_Type_27: int, Soil_Type_28: int, Soil_Type_29: int, Soil_Type_30: int, Soil_Type_31: int, Soil_Type_32: int, Soil_Type_33: int, Soil_Type_34: int, Soil_Type_35: int, Soil_Type_36: int, Soil_Type_37: int, Soil_Type_38: int, Soil_Type_39: int, Cover_Type: double]

In [13]:
from pyspark.ml.feature import VectorAssembler
input_cols = colnames[:-1]
vector_assembler = VectorAssembler(inputCols=input_cols,outputCol="featureVector")

In [14]:
assembled_train_data = vector_assembler.transform(train_data)
assembled_train_data.select("featureVector").show(truncate = False)

+----------------------------------------------------------------------------------------------------+
|featureVector                                                                                       |
+----------------------------------------------------------------------------------------------------+
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1859.0,18.0,12.0,67.0,11.0,90.0,211.0,215.0,139.0,792.0,1.0,1.0])  |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1860.0,18.0,13.0,95.0,15.0,90.0,210.0,213.0,138.0,780.0,1.0,1.0])  |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1861.0,35.0,14.0,60.0,11.0,85.0,218.0,209.0,124.0,832.0,1.0,1.0])  |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1863.0,37.0,17.0,120.0,18.0,90.0,217.0,202.0,115.0,769.0,1.0,1.0]) |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1866.0,23.0,14.0,85.0,16.0,108.0,212.0,210.0,133.0,819.0,1.0,1.0]) |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1867.0,20.0,15.0,108.0,19.0,120.0,208.0,206.0,132.0,808.0,1.0,1.0])|
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1868.0,27.0,16.0,67.0,17.0,95.0,212.0,204.0,125.0,859.0,1.0,1.0])  |
|(54,[0,1,2,3,4,5,6,7,8,9,13,18],[1871.0,22.0,22.0,60.0,12.0,85.0,200.0,187.0,115.0,792.0,1.0,1.0])  |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1871.0,36.0,19.0,134.0,26.0,120.0,215.0,194.0,107.0,797.0,1.0,1.0])|
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1871.0,37.0,19.0,120.0,29.0,90.0,216.0,195.0,107.0,759.0,1.0,1.0]) |
|(54,[0,1,2,3,4,5,6,7,8,9,13,18],[1872.0,12.0,27.0,85.0,25.0,60.0,182.0,174.0,118.0,577.0,1.0,1.0])  |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1872.0,27.0,16.0,95.0,22.0,124.0,212.0,205.0,126.0,847.0,1.0,1.0]) |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1872.0,27.0,21.0,108.0,30.0,67.0,206.0,190.0,112.0,713.0,1.0,1.0]) |
|(54,[0,1,2,3,4,5,6,7,8,9,13,14],[1872.0,35.0,21.0,120.0,18.0,85.0,213.0,189.0,104.0,797.0,1.0,1.0]) |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1873.0,30.0,19.0,67.0,21.0,85.0,211.0,195.0,114.0,899.0,1.0,1.0])  |
|(54,[0,1,2,5,6,7,8,9,13,18],[1874.0,18.0,14.0,90.0,208.0,209.0,135.0,793.0,1.0,1.0])                |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1876.0,25.0,17.0,124.0,26.0,150.0,209.0,200.0,123.0,836.0,1.0,1.0])|
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1876.0,29.0,19.0,124.0,34.0,90.0,210.0,195.0,115.0,750.0,1.0,1.0]) |
|(54,[0,1,2,3,4,5,6,7,8,9,13,15],[1877.0,19.0,18.0,85.0,25.0,108.0,204.0,199.0,127.0,886.0,1.0,1.0]) |
|(54,[0,1,2,3,4,5,6,7,8,9,13,18],[1877.0,27.0,24.0,90.0,18.0,95.0,201.0,179.0,104.0,780.0,1.0,1.0])  |
+----------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [15]:
from pyspark.ml.classification import DecisionTreeClassifier
classifier = DecisionTreeClassifier(seed = 1234, labelCol="Cover_Type",featuresCol="featureVector",predictionCol="prediction")

In [16]:
model = classifier.fit(assembled_train_data)

In [17]:
print(model.toDebugString)

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_83f67a13c511, depth=5, numNodes=47, numClasses=8, numFeatures=54
  If (feature 0 <= 3044.5)
   If (feature 0 <= 2559.5)
    If (feature 10 <= 0.5)
     If (feature 0 <= 2446.5)
      If (feature 3 <= 15.0)
       Predict: 4.0
      Else (feature 3 > 15.0)
       Predict: 3.0
     Else (feature 0 > 2446.5)
      If (feature 17 <= 0.5)
       Predict: 2.0
      Else (feature 17 > 0.5)
       Predict: 3.0
    Else (feature 10 > 0.5)
     If (feature 9 <= 5359.5)
      Predict: 2.0
     Else (feature 9 > 5359.5)
      If (feature 5 <= 567.5)
       Predict: 2.0
      Else (feature 5 > 567.5)
       Predict: 5.0
   Else (feature 0 > 2559.5)
    If (feature 0 <= 2954.5)
     If (feature 15 <= 0.5)
      If (feature 17 <= 0.5)
       Predict: 2.0
      Else (feature 17 > 0.5)
       Predict: 3.0
     Else (feature 15 > 0.5)
      Predict: 3.0
    Else (feature 0 > 2954.5)
     If (feature 3 <= 191.0)
      If (feature 36 <= 0.5)
       Predict: 2.0
      Else (feature 36 > 0.5)
       Predict: 1.0
     Else (feature 3 > 191.0)
      Predict: 2.0
  Else (feature 0 > 3044.5)
   If (feature 0 <= 3307.5)
    If (feature 7 <= 238.5)
     Predict: 1.0
    Else (feature 7 > 238.5)
     If (feature 3 <= 330.5)
      Predict: 1.0
     Else (feature 3 > 330.5)
      If (feature 0 <= 3220.5)
       Predict: 2.0
      Else (feature 0 > 3220.5)
       Predict: 1.0
   Else (feature 0 > 3307.5)
    If (feature 12 <= 0.5)
     If (feature 3 <= 290.0)
      If (feature 6 <= 206.5)
       Predict: 1.0
      Else (feature 6 > 206.5)
       Predict: 7.0
     Else (feature 3 > 290.0)
      Predict: 1.0
    Else (feature 12 > 0.5)
     If (feature 45 <= 0.5)
      If (feature 0 <= 3360.5)
       Predict: 1.0
      Else (feature 0 > 3360.5)
       Predict: 7.0
     Else (feature 45 > 0.5)
      If (feature 5 <= 998.0)
       Predict: 7.0
      Else (feature 5 > 998.0)
       Predict: 1.0

In [18]:
import pandas as pd
pd.DataFrame(model.featureImportances.toArray(),
index=input_cols, columns=['importance']).\
sort_values(by="importance", ascending=False)

                                    importance
Elevation                             0.805253
Horizontal_Distance_To_Hydrology      0.043245
Soil_Type_3                           0.031018
Wilderness_Area_0                     0.030685
Hillshade_Noon                        0.025440
Soil_Type_1                           0.024492
Soil_Type_31                          0.017206
Wilderness_Area_2                     0.011324
Soil_Type_22                          0.005832
Hillshade_9am                         0.002596
Horizontal_Distance_To_Roadways       0.002341
Horizontal_Distance_To_Fire_Points    0.000568
Soil_Type_37                          0.000000
Soil_Type_27                          0.000000
Soil_Type_20                          0.000000
Soil_Type_21                          0.000000
Soil_Type_36                          0.000000
Soil_Type_23                          0.000000
Soil_Type_24                          0.000000
Soil_Type_25                          0.000000
Soil_Type_26                          0.000000
Soil_Type_29                          0.000000
Soil_Type_28                          0.000000
Soil_Type_35                          0.000000
Soil_Type_30                          0.000000
Soil_Type_38                          0.000000
Soil_Type_32                          0.000000
Soil_Type_18                          0.000000
Soil_Type_33                          0.000000
Soil_Type_34                          0.000000
Soil_Type_19                          0.000000
Soil_Type_13                          0.000000
Soil_Type_17                          0.000000
Soil_Type_16                          0.000000
Slope                                 0.000000
Vertical_Distance_To_Hydrology        0.000000
Hillshade_3pm                         0.000000
Wilderness_Area_1                     0.000000
Wilderness_Area_3                     0.000000
Soil_Type_0                           0.000000
Soil_Type_2                           0.000000
Soil_Type_4                           0.000000
Soil_Type_5                           0.000000
Soil_Type_6                           0.000000
Soil_Type_7                           0.000000
Soil_Type_8                           0.000000
Soil_Type_9                           0.000000
Soil_Type_10                          0.000000
Soil_Type_11                          0.000000
Soil_Type_12                          0.000000
Aspect                                0.000000
Soil_Type_14                          0.000000
Soil_Type_15                          0.000000
Soil_Type_39                          0.000000

In [19]:
predictions = model.transform(assembled_train_data)
predictions.select("Cover_Type", "prediction", "probability").\
show(10, truncate = False)

+----------+----------+-------------------------------------------------------------------------------------------------+
|Cover_Type|prediction|probability                                                                                      |
+----------+----------+-------------------------------------------------------------------------------------------------+
|3.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
|3.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
|3.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
|6.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
|3.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
|3.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
|3.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
|6.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
|6.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
|6.0       |3.0       |[0.0,0.0,0.031977254378883074,0.6350521253817263,0.05075643230720629,0.0,0.28221418793218433,0.0]|
+----------+----------+-------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [20]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(labelCol="Cover_Type",predictionCol="prediction")
evaluator.setMetricName("accuracy").evaluate(predictions)
evaluator.setMetricName("f1").evaluate(predictions)

0.6834637720535749

In [21]:
confusion_matrix = predictions.groupBy("Cover_Type").\
pivot("prediction", range(1,8)).count().\
na.fill(0.0).\
orderBy("Cover_Type")

confusion_matrix.show()

+----------+------+------+-----+---+---+---+----+
|Cover_Type|     1|     2|    3|  4|  5|  6|   7|
+----------+------+------+-----+---+---+---+----+
|       1.0|135728| 51439|  150|  0|  0|  0|3344|
|       2.0| 54424|195832| 4256| 94| 58|  0| 553|
|       3.0|     0|  5974|25641|652|  0|  0|   0|
|       4.0|     0|    24| 1446|977|  0|  0|   0|
|       5.0|     6|  7678|  724|  0| 93|  0|   0|
|       6.0|     0|  6279| 8767|527|  0|  0|   0|
|       7.0| 10051|    18|   58|  0|  0|  0|8343|
+----------+------+------+-----+---+---+---+----+